/*
*	Static content
*	This is the place to define static content that is used throughout the site
*/


/* Optional container class for max-width containers */
.container {
	position: relative;
	margin: 0 auto;
	width: $container;
	max-width: 100%;
}

@media only screen and (min-width: $b1) {
	.container {
		width: $container-b1;
	}
}
@media only screen and (min-width: $b2) {
	.container {
		width: $container-b2;
	}
}

@media only screen and (min-width: $b3) {

	.container {
		width: $container-b3;
	}
}

@media only screen and (min-width: $b4) {
	
	.container {
		width: $container-b4;
	}

}

@media only screen and (min-width: $b5) {

	.container {
		width: $container-b5;
	}
}