/*
*	Static content
*	This is the place to define static content that is used throughout the site
*/


/* Optional container class for max-width containers */
.container {
	position: relative;
	margin: 0 auto;
	width: $container;
	max-width: 100%;
}

@for $b from 1 through $amount-breakpoints {
	$breakpoint : map-get($breakpoint-map, $b);
	$containerWidth: map-get($container-map, $b);
	
	@media only screen and (min-width: $breakpoint) {
		
		.container {
			width: #{$containerWidth};
		}
	}	
	
}