/* 
	Default site settings
	Setting the font-size to 62.5% so we can easily calculate with REM 
	1REM = 10px (relative pixels)
*/

/* body and wrapper on width: 100% and min-height: 100%; */
body, .wrapper { width: 100%;  min-height: 100%; }

html {
	background: $color01;
	font-size: 62.5%;
	color: $color02;
}

body {
	font-size: $font-size-default;
	line-height: $line-height-default;
}

html, button, input, select, textarea {
	font-family: $font-pri;
	font-weight: normal;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

/* Max width of images 100% */
img, embed, object { 
	max-width: 100%;
}

/* Default Links */

a { 
	text-decoration: underline; 
	color: $theme01;
}
a:hover { 
	color: $theme03;
	text-decoration: none;
}
a[href^="tel"], a[href^="sms"], a[href^="fax"] { 
	text-decoration: none; color: inherit; 
}
/* 	Default lists and tables have margin-bottom: $margin-default * 2; */
dl, ol, ul, p, pre, table { 
	margin-bottom: $margin-default * 2; 
}
dd {
	margin-bottom: $margin-default;
}
/* 	OL and UL alignment */
ol, ul { 
	padding-left: 24px;
}
/* 	Standard UL list-style is disc */
ul { list-style-type: disc; }