html {
	background: $color01;
	font-size: 62.5%;
	color: $color02;
}

body {
	font-size: $font-size-default;
	line-height: $line-height-default;
}	

html, button, input, select, textarea {
	font-family: $font-pri;
	font-weight: normal;
}