/*========== MIXINS ==========*/

/* 
  Text-overflow: ellipsis
*/
@mixin ellipsis(){
  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

/*
  Ul-reset
  Set margin, padding and list-style to zero/none
*/
@mixin ulreset() {
  margin: 0; padding: 0; list-style: none;
}

/*
* Opacity
*/
@mixin opacity($params) {
	filter: alpha(opacity=$params);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$params)";
	opacity: $params * 0.01;
}

/*
* Calc
*/
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}


/*
* Generic transform
*/
@mixin transform($transforms) {
	transform: $transforms;
}
/*
* Rotate
*/
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

/* 
* Scale
*/
@mixin scale($scale) {
	 @include transform(scale($scale));
}

/*
* Translate
*/
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

/* 
* translateX
*/
@mixin translateX ($x) {
	@include transform(translateX($x));
}

/* 
* translateY
*/
@mixin translateY ($y) {
	@include transform(translateY($y));
}

/* 
* Skew
*/
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}


@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

