/* Set order per breakpoint */
@for $i from 0 through 12 {
	&.order-#{ $i } {
		order: #{ $i };
	}
}

/* Hide / show elements per breakpoint */
.hide { display: none; }
.show { display: block; }

@for $b from 1 through $amount-breakpoints {
	$breakpoint : map-get($breakpoint-map, $b);
	
	@media only screen and (min-width: $breakpoint) {
	
		/* Hide / show elements per breakpoint */
		.hide-b#{$b} { display: none; }
		.show-b#{$b} { display: block; }

		@if $b > 0 {
			/* Set order per breakpoint */
			@for $i from 0 through 12 {
				&.order-b#{$b}-#{$i} {
					order: #{$i};
				}
			}
		}
		@if $b > 2 {
			/* Set order per breakpoint */
			@for $i from 13 through 24 {
				&.order-b#{$b}-#{ $i } {
					order: #{ $i };
				}
			}
		}

	}
}

/* Unstyled list */
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.equal-height {
	display: flex;

	> * {
		flex: 1;
	}
}

/* Text alignment per breakpoint */
.ta-left	{ text-align: left;   }
.ta-right	{ text-align: right;  }
.ta-center	{ text-align: center; }

@for $b from 1 through $amount-breakpoints {
	$breakpoint : map-get($breakpoint-map, $b);
	
	@media only screen and (min-width: $breakpoint) {
		
		.ta-left-b#{$b} 	{ text-align: left;		}
		.ta-right-b#{$b} 	{ text-align: right;	}
		.ta-center-b#{$b} 	{ text-align: center;	}

	}

}

/* Floating and clearing classes per breakpoint */
.fl { float: left; }
.fr { float: right;}
.fn { float: none; }
.cl { clear: left; }
.cr { clear: right;}
.cb { clear: both; }
.cn { clear: none; }

@for $b from 1 through $amount-breakpoints {
	$breakpoint : map-get($breakpoint-map, $b);
	
	@media only screen and (min-width: $breakpoint) {

		.fl-b#{$b} { float: left; }
		.fr-b#{$b} { float: right; }
		.fn-b#{$b} { float: none; }
		.cl-b#{$b} { clear: left; }
		.cr-b#{$b} { clear: right;}
		.cb-b#{$b} { clear: both; }
		.cn-b#{$b} { clear: none; }

	}
	
}

/* Border-radius */
.radius {
	border-radius: $radius;
}

/* Clearfix */
.cf:before, .cf:after, ul.fields > li:before, ul.fields > li:after {content:"";display:table;}
.cf:after, .g:after, ul.fields > li:after {clear:both;}
.cl { clear:both;height:0;overflow:hidden;visibility:hidden;font:0/0 x; }

/* Alignment of images + captions */
.img-right { display: block; margin: .8rem auto 1.6rem; text-align: center; }
.img-left { display: block; margin: .8rem auto 1.6rem; text-align: center; }
.img-center { display: block; margin: .8rem auto 1.6rem; text-align: center; }
.img-right img, .img-left img, .img-center img { display: block; margin: 0 auto .6; }
.img-right figcaption, .img-left figcaption, .img-center figcaption { display: block; color: Gray; font-style: italic; }

@media only screen and (min-width: $b3) {
	.img-right { float: right; margin: .8rem 0 1.6rem 4.8rem; }
	.img-left { float: left; margin: .8rem 4.8rem 1.6rem 0;  }
}

.img-full,
.img-full > img {
	width: 100%;
}

.full-block {
	width: 100%;
	display: block;
}