/* Set order per breakpoint */
@for $i from 0 through 12 {
	&.order-#{ $i } {
		order: #{ $i };
	}
}

/* Hide / show elements per breakpoint */
.hide { display: none; }
.show { display: block; }

@for $b from 0 through $amount-breakpoints {
	$breakpoint : map-get($breakpoint-map, $b);
	
	@media only screen and (min-width: $breakpoint) {
	
		/* Hide / show elements per breakpoint */
		.hide-b#{$b} { display: none; }
		.show-b#{$b} { display: block; }

		@if $b > 0 {
			/* Set order per breakpoint */
			@for $i from 0 through 12 {
				&.order-b#{$b}-#{$i} {
					order: #{$i};
				}
			}
		}
		@if $b > 3 {
			/* Set order per breakpoint */
			@for $i from 13 through 24 {
				&.order-b#{$b}-#{ $i } {
					order: #{ $i };
				}
			}
		}

	}
}

/* Unstyled list */
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Text alignment per breakpoint */
.ta-left	{ text-align: left;   }
.ta-right	{ text-align: right;  }
.ta-center	{ text-align: center; }

@media only screen and (min-width: $b1) {
	.ta-left-b1 	{ text-align: left;		}
	.ta-right-b1 	{ text-align: right;	}
	.ta-center-b1 	{ text-align: center;	}
}
@media only screen and (min-width: $b2) {
	.ta-left-b2 	{ text-align: left;		}
	.ta-right-b2 	{ text-align: right;	}
	.ta-center-b2 	{ text-align: center;	}
}
@media only screen and (min-width: $b3) {

	.ta-left-b3 	{ text-align: left;		}
	.ta-right-b3 	{ text-align: right;	}
	.ta-center-b3 	{ text-align: center;	}
}
@media only screen and (min-width: $b4) {
	.ta-left-b4 	{ text-align: left;		}
	.ta-right-b4 	{ text-align: right; 	}
	.ta-center-b4 	{ text-align: center;	}
}
@media only screen and (min-width: $b5) {
	.ta-left-b5 	{ text-align: left; 	}
	.ta-right-b5 	{ text-align: right; 	}
	.ta-center-b5 	{ text-align: center; }
}
@media only screen and (min-width: $b6) {
	.ta-left-b6 	{ text-align: left;		}
	.ta-right-b6 	{ text-align: right; 	}
	.ta-center-b6 	{ text-align: center;	}
}

/* Floating and clearing classes per breakpoint */
.fl { float: left; }
.fr { float: right;}
.fn { float: none; }
.cl { clear: left; }
.cr { clear: right;}
.cb { clear: both; }
.cn { clear: none; }

@media only screen and (min-width: $b1) {
	.fl-b1 { float: left; }
	.fr-b1 { float: right; }
	.fn-b1 { float: none; }
	.cl-b1 { clear: left; }
	.cr-b1 { clear: right;}
	.cb-b1 { clear: both; }
	.cn-b1 { clear: none; }
}
@media only screen and (min-width: $b2) {
	.fl-b2 { float: left; }
	.fr-b2 { float: right; }
	.fn-b2 { float: none; }
	.cl-b2 { clear: left; }
	.cr-b2 { clear: right;}
	.cb-b2 { clear: both; }
	.cn-b2 { clear: none; }
}
@media only screen and (min-width: $b3) {
	.fl-b3 { float: left; }
	.fr-b3 { float: right; }
	.fn-b3 { float: none; }
	.cl-b3 { clear: left; }
	.cr-b3 { clear: right;}
	.cb-b3 { clear: both; }
	.cn-b3 { clear: none; }
}
@media only screen and (min-width: $b4) {
	.fl-b4 { float: left; }
	.fr-b4 { float: right; }
	.fn-b4 { float: none; }
	.cl-b4 { clear: left; }
	.cr-b4 { clear: right;}
	.cb-b4 { clear: both; }
	.cn-b4 { clear: none; }
}
@media only screen and (min-width: $b5) {
	.fl-b5 { float: left; }
	.fr-b5 { float: right; }
	.fn-b5 { float: none; }
	.cl-b5 { clear: left; }
	.cr-b5 { clear: right;}
	.cb-b5 { clear: both; }
	.cn-b5 { clear: none; }
}
@media only screen and (min-width: $b6) {
	.fl-b6 { float: left; }
	.fr-b6 { float: right; }
	.fn-b6 { float: none; }
	.cl-b6 { clear: left; }
	.cr-b6 { clear: right;}
	.cb-b6 { clear: both; }
	.cn-b6 { clear: none; }
}

/* Border-radius */
.radius {
	border-radius: $radius;
}

/* Clearfix */
.cf:before, .cf:after, ul.fields > li:before, ul.fields > li:after {content:"";display:table;}
.cf:after, .g:after, ul.fields > li:after {clear:both;}
.cl { clear:both;height:0;overflow:hidden;visibility:hidden;font:0/0 x; }

/* Show / Hide */
.hide { display: none; }
.show { display: block; }

/* Alignment of images + captions */
.img-right { display: block; margin: .8rem auto 1.6rem; text-align: center; }
.img-left { display: block; margin: .8rem auto 1.6rem; text-align: center; }
.img-center { display: block; margin: .8rem auto 1.6rem; text-align: center; }
.img-right img, .img-left img, .img-center img { display: block; margin: 0 auto .6; }
.img-right figcaption, .img-left figcaption, .img-center figcaption { display: block; color: Gray; font-style: italic; }

@media only screen and (min-width: $b3) {
	.img-right { float: right; margin: .8rem 0 1.6rem 4.8rem; }
	.img-left { float: left; margin: .8rem 4.8rem 1.6rem 0;  }
}

.img-full,
.img-full > img {
	width: 100%;
}

.full-block {
	width: 100%;
	display: block;
}