/* Padding */

.p  	{ padding: 			$padding-default; }
.pt 	{ padding-top: 		$padding-default; }
.pb 	{ padding-bottom: 	$padding-default; }
.pl 	{ padding-left: 	$padding-default; }
.pr 	{ padding-right: 	$padding-default; }

.p-2x 	{ padding: 			$padding-default*2; }
.pt-2x 	{ padding-top: 		$padding-default*2; }
.pb-2x 	{ padding-bottom: 	$padding-default*2; }
.pl-2x 	{ padding-left: 	$padding-default*2; }
.pr-2x 	{ padding-right: 	$padding-default*2; }

.p-3x 	{ padding: 			$padding-default*3; }
.pt-3x 	{ padding-top: 		$padding-default*3; }
.pb-3x 	{ padding-bottom: 	$padding-default*3; }
.pl-3x 	{ padding-left: 	$padding-default*3; }
.pr-3x 	{ padding-right: 	$padding-default*3; }

.p-0	{ padding: 			0; }
.pt-0 	{ padding-top: 		0; }
.pb-0 	{ padding-bottom: 	0; }
.pl-0 	{ padding-left: 	0; }
.pr-0 	{ padding-right: 	0; }

/* Margin */
.m  	{ margin:			$margin-default; }
.mt 	{ margin-top: 		$margin-default; }
.mb 	{ margin-bottom: 	$margin-default; }
.ml 	{ margin-left: 		$margin-default; }
.mr 	{ margin-right: 	$margin-default; }

.m-2x 	{ margin: 			$margin-default*2; }
.mt-2x 	{ margin-top: 		$margin-default*2; }
.mb-2x 	{ margin-bottom: 	$margin-default*2; }
.ml-2x 	{ margin-left: 		$margin-default*2; }
.mr-2x 	{ margin-right: 	$margin-default*2; }

.m-3x 	{ margin: 			$margin-default*3; }
.mt-3x 	{ margin-top: 		$margin-default*3; }
.mb-3x 	{ margin-bottom: 	$margin-default*3; }
.ml-3x 	{ margin-left: 		$margin-default*3; }
.mr-3x 	{ margin-right: 	$margin-default*3; }

.m-0	{ margin: 			0; }
.mt-0 	{ margin-top: 		0; }
.mb-0 	{ margin-bottom: 	0; }
.ml-0 	{ margin-left: 		0; }
.mr-0 	{ margin-right: 	0; }

@for $b from 1 through $amount-breakpoints {
	$breakpoint : map-get($breakpoint-map, $b);
	
	@media only screen and (min-width: $breakpoint) {

		/* Padding */
		.p-b#{$b}  	{ padding: 				$padding-default; }
		.pt-b#{$b} 	{ padding-top: 			$padding-default; }
		.pb-b#{$b} 	{ padding-bottom: 		$padding-default; }
		.pl-b#{$b} 	{ padding-left: 		$padding-default; }
		.pr-b#{$b} 	{ padding-right: 		$padding-default; }

		.p-b#{$b}-2x 	{ padding: 			$padding-default*2; }
		.pt-b#{$b}-2x { padding-top: 		$padding-default*2; }
		.pb-b#{$b}-2x { padding-bottom: 	$padding-default*2; }
		.pl-b#{$b}-2x { padding-left: 		$padding-default*2; }
		.pr-b#{$b}-2x { padding-right: 		$padding-default*2; }

		.p-b#{$b}-3x { padding: 			$padding-default*3; }
		.pt-b#{$b}-3x { padding-top: 		$padding-default*3; }
		.pb-b#{$b}-3x { padding-bottom: 	$padding-default*3; }
		.pl-b#{$b}-3x { padding-left: 		$padding-default*3; }
		.pr-b#{$b}-3x { padding-right: 		$padding-default*3; }

		.p-b#{$b}-0 	{ padding: 			0; }
		.pt-b#{$b}-0 	{ padding-top: 		0; }
		.pb-b#{$b}-0 	{ padding-bottom: 	0; }
		.pl-b#{$b}-0 	{ padding-left: 	0; }
		.pr-b#{$b}-0 	{ padding-right: 	0; }

		/* Margin */
		.m-b#{$b}  	{ margin: 				$margin-default; }
		.mt-b#{$b} 	{ margin-top: 			$margin-default; }
		.mb-b#{$b} 	{ margin-bottom: 		$margin-default; }
		.ml-b#{$b} 	{ margin-left: 			$margin-default; }
		.mr-b#{$b} 	{ margin-right: 		$margin-default; }

		.m-b#{$b}-2x	{ margin:			$margin-default*2; }
		.mt-b#{$b}-2x { margin-top: 		$margin-default*2; }
		.mb-b#{$b}-2x { margin-bottom: 		$margin-default*2; }
		.ml-b#{$b}-2x { margin-left: 		$margin-default*2; }
		.mr-b#{$b}-2x { margin-right: 		$margin-default*2; }

		.m-b#{$b}-3x 	{ margin: 			$margin-default*3; }
		.mt-b#{$b}-3x { margin-top: 		$margin-default*3; }
		.mb-b#{$b}-3x { margin-bottom: 		$margin-default*3; }
		.ml-b#{$b}-3x { margin-left: 		$margin-default*3; }
		.mr-b#{$b}-3x { margin-right: 		$margin-default*3; }

		.m-b#{$b}-0 	{ margin: 			0; }
		.mt-b#{$b}-0 	{ margin-top: 		0; }
		.mb-b#{$b}-0 	{ margin-bottom: 	0; }
		.ml-b#{$b}-0 	{ margin-left: 		0; }
		.mr-b#{$b}-0 	{ margin-right: 	0; }
	}
}
