/*========== VARIABLES ==========*/

/* 
* Base colors 
* Color 01 and 02 reservered for white and black 
*/
$color01:  	#fff;
$color02:  	#000;

$alert:		#FFD700;
$negative:	#FF7878;
$positive:	#29C85D;
$disabled:	#CDCDC1;

/* Breakpoints */
$b1: 320px;
$b2: 480px;
$b3: 768px;
$b4: 1024px;
$b5: 1280px;
$b6: 1600px;

/* Container sizes */
$b3-container: 744px;
$b4-container: 996px;
$b5-container: 1224px;

/* Default margin, padding, gutter */
$padding-default: 	12px;
$margin-default: 	12px;

/* Standard border-radius */
$radius:	5px;

/* Fonts */
$font-pri: Arial, Helvetica, sans-serif;
$font-sec: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$line-height-default: 1.5;