/*
*	Static content
*	This is the place to define static content that is used throughout the site
*/


/* Optional container class for max-width containers */
.container {
	position: relative;
	margin: 0 auto;
}

@media only screen and (min-width: $b3) {

	.container {
		width: $b3-container;
		max-width: 100%;
	}
}

@media only screen and (min-width: $b4) {
	
	.container {
		width: $b4-container;
	}

}

@media only screen and (min-width: $b5) {

	.container {
		width: $b5-container;
	}
}
