/*
	Padding
*/

.p  	{ padding: 			$padding-default; }
.pt 	{ padding-top: 		$padding-default; }
.pb 	{ padding-bottom: 	$padding-default; }
.pl 	{ padding-left: 	$padding-default; }
.pr 	{ padding-right: 	$padding-default; }

.p-2x 	{ padding: 			$padding-default*2; }
.pt-2x 	{ padding-top: 		$padding-default*2; }
.pb-2x 	{ padding-bottom: 	$padding-default*2; }
.pl-2x 	{ padding-left: 	$padding-default*2; }
.pr-2x 	{ padding-right: 	$padding-default*2; }

.p-3x 	{ padding: 			$padding-default*3; }
.pt-3x 	{ padding-top: 		$padding-default*3; }
.pb-3x 	{ padding-bottom: 	$padding-default*3; }
.pl-3x 	{ padding-left: 	$padding-default*3; }
.pr-3x 	{ padding-right: 	$padding-default*3; }

.p-0	{ padding: 			0; }
.pt-0 	{ padding-top: 		0; }
.pb-0 	{ padding-bottom: 	0; }
.pl-0 	{ padding-left: 	0; }
.pr-0 	{ padding-right: 	0; }

/*
	Margin
*/
.m  	{ margin:			$margin-default; }
.mt 	{ margin-top: 		$margin-default; }
.mb 	{ margin-bottom: 	$margin-default; }
.ml 	{ margin-left: 		$margin-default; }
.mr 	{ margin-right: 	$margin-default; }

.m-2x 	{ margin: 			$margin-default*2; }
.mt-2x 	{ margin-top: 		$margin-default*2; }
.mb-2x 	{ margin-bottom: 	$margin-default*2; }
.ml-2x 	{ margin-left: 		$margin-default*2; }
.mr-2x 	{ margin-right: 	$margin-default*2; }

.m-3x 	{ margin: 			$margin-default*3; }
.mt-3x 	{ margin-top: 		$margin-default*3; }
.mb-3x 	{ margin-bottom: 	$margin-default*3; }
.ml-3x 	{ margin-left: 		$margin-default*3; }
.mr-3x 	{ margin-right: 	$margin-default*3; }

.m-0	{ margin: 			0; }
.mt-0 	{ margin-top: 		0; }
.mb-0 	{ margin-bottom: 	0; }
.ml-0 	{ margin-left: 		0; }
.mr-0 	{ margin-right: 	0; }

@media only screen and (min-width: $b1) {

	/*
		Padding
	*/
	.p-b1  	{ padding: 			$padding-default; }
	.pt-b1 	{ padding-top: 		$padding-default; }
	.pb-b1 	{ padding-bottom: 	$padding-default; }
	.pl-b1 	{ padding-left: 	$padding-default; }
	.pr-b1 	{ padding-right: 	$padding-default; }

	.p-b1-2x 	{ padding: 			$padding-default*2; }
	.pt-b1-2x 	{ padding-top: 		$padding-default*2; }
	.pb-b1-2x 	{ padding-bottom: 	$padding-default*2; }
	.pl-b1-2x 	{ padding-left: 	$padding-default*2; }
	.pr-b1-2x 	{ padding-right: 	$padding-default*2; }

	.p-b1-3x	{ padding: 			$padding-default*3; }
	.pt-b1-3x 	{ padding-top: 		$padding-default*3; }
	.pb-b1-3x 	{ padding-bottom: 	$padding-default*3; }
	.pl-b1-3x 	{ padding-left: 	$padding-default*3; }
	.pr-b1-3x 	{ padding-right: 	$padding-default*3; }

	.p-b1-0 	{ padding: 			0; }
	.pt-b1-0 	{ padding-top: 		0; }
	.pb-b1-0 	{ padding-bottom: 	0; }
	.pl-b1-0 	{ padding-left: 	0; }
	.pr-b1-0 	{ padding-right: 	0; }

	/*
		Margin
	*/
	.m-b1  	{ margin: 			$margin-default; }
	.mt-b1 	{ margin-top: 		$margin-default; }
	.mb-b1 	{ margin-bottom: 	$margin-default; }
	.ml-b1 	{ margin-left: 		$margin-default; }
	.mr-b1 	{ margin-right: 	$margin-default; }

	.m-b1-2x	{ margin:			$margin-default*2; }
	.mt-b1-2x 	{ margin-top: 		$margin-default*2; }
	.mb-b1-2x 	{ margin-bottom: 	$margin-default*2; }
	.ml-b1-2x 	{ margin-left: 		$margin-default*2; }
	.mr-b1-2x 	{ margin-right: 	$margin-default*2; }

	.m-b1-3x 	{ margin: 			$margin-default*3; }
	.mt-b1-3x 	{ margin-top: 		$margin-default*3; }
	.mb-b1-3x 	{ margin-bottom: 	$margin-default*3; }
	.ml-b1-3x 	{ margin-left: 		$margin-default*3; }
	.mr-b1-3x 	{ margin-right: 	$margin-default*3; }

	.m-b1-0 	{ margin: 			0; }
	.mt-b1-0 	{ margin-top: 		0; }
	.mb-b1-0 	{ margin-bottom: 	0; }
	.ml-b1-0 	{ margin-left: 		0; }
	.mr-b1-0 	{ margin-right: 	0; }
}

@media only screen and (min-width: $b2) {

	/*
		Padding
	*/
	.p-b2  	{ padding: 			$padding-default; }
	.pt-b2 	{ padding-top: 		$padding-default; }
	.pb-b2 	{ padding-bottom: 	$padding-default; }
	.pl-b2 	{ padding-left: 	$padding-default; }
	.pr-b2 	{ padding-right: 	$padding-default; }

	.p-b2-2x 	{ padding: 			$padding-default*2; }
	.pt-b2-2x 	{ padding-top: 		$padding-default*2; }
	.pb-b2-2x 	{ padding-bottom: 	$padding-default*2; }
	.pl-b2-2x 	{ padding-left: 	$padding-default*2; }
	.pr-b2-2x 	{ padding-right: 	$padding-default*2; }

	.p-b2-3x 	{ padding: 			$padding-default*3; }
	.pt-b2-3x 	{ padding-top: 		$padding-default*3; }
	.pb-b2-3x 	{ padding-bottom: 	$padding-default*3; }
	.pl-b2-3x 	{ padding-left: 	$padding-default*3; }
	.pr-b2-3x 	{ padding-right: 	$padding-default*3; }

	.p-b2-0 	{ padding: 			0; }
	.pt-b2-0	{ padding-top: 		0; }
	.pb-b2-0	{ padding-bottom: 	0; }
	.pl-b2-0	{ padding-left: 	0; }
	.pr-b2-0	{ padding-right: 	0; }

	/*
		Margin
	*/
	.m-b2  	{ margin: 			$margin-default; }
	.mt-b2 	{ margin-top: 		$margin-default; }
	.mb-b2 	{ margin-bottom: 	$margin-default; }
	.ml-b2 	{ margin-left: 		$margin-default; }
	.mr-b2 	{ margin-right: 	$margin-default; }

	.m-b2-2x 	{ margin: 			$margin-default*2; }
	.mt-b2-2x 	{ margin-top: 		$margin-default*2; }
	.mb-b2-2x 	{ margin-bottom: 	$margin-default*2; }
	.ml-b2-2x 	{ margin-left: 		$margin-default*2; }
	.mr-b2-2x 	{ margin-right: 	$margin-default*2; }

	.m-b2-3x 	{ margin: 			$margin-default*3; }
	.mt-b2-3x	{ margin-top: 		$margin-default*3; }
	.mb-b2-3x 	{ margin-bottom: 	$margin-default*3; }
	.ml-b2-3x 	{ margin-left: 		$margin-default*3; }
	.mr-b2-3x 	{ margin-right: 	$margin-default*3; }

	.m-b2-0 	{ margin: 			0; }
	.mt-b2-0	{ margin-top: 		0; }
	.mb-b2-0	{ margin-bottom: 	0; }
	.ml-b2-0	{ margin-left: 		0; }
	.mr-b2-0	{ margin-right: 	0; }
}

@media only screen and (min-width: $b3) {

	/*
		Padding
	*/
	.p-b3  	{ padding: 			$padding-default; }
	.pt-b3 	{ padding-top: 		$padding-default; }
	.pb-b3 	{ padding-bottom: 	$padding-default; }
	.pl-b3 	{ padding-left: 	$padding-default; }
	.pr-b3 	{ padding-right: 	$padding-default; }

	.p-b3-2x 	{ padding: 			$padding-default*2; }
	.pt-b3-2x 	{ padding-top: 		$padding-default*2; }
	.pb-b3-2x 	{ padding-bottom: 	$padding-default*2; }
	.pl-b3-2x 	{ padding-left: 	$padding-default*2; }
	.pr-b3-2x 	{ padding-right: 	$padding-default*2; }

	.p-b3-3x 	{ padding: 			$padding-default*3; }
	.pt-b3-3x 	{ padding-top: 		$padding-default*3; }
	.pb-b3-3x 	{ padding-bottom: 	$padding-default*3; }
	.pl-b3-3x 	{ padding-left: 	$padding-default*3; }
	.pr-b3-3x 	{ padding-right: 	$padding-default*3; }

	.p-b3-0 	{ padding: 			0; }
	.pt-b3-0 	{ padding-top: 		0; }
	.pb-b3-0 	{ padding-bottom: 	0; }
	.pl-b3-0 	{ padding-left: 	0; }
	.pr-b3-0 	{ padding-right: 	0; }

	/*
		Margin
	*/
	.m-b3  	{ margin: 			$margin-default; }

	.mt-b3 	{ margin-top: 		$margin-default; }
	.mb-b3 	{ margin-bottom: 	$margin-default; }
	.ml-b3 	{ margin-left: 		$margin-default; }
	.mr-b3 	{ margin-right: 	$margin-default; }

	.m-b3-2x 	{ margin: 			$margin-default*2; }
	.mb-b3-2x 	{ margin-bottom: 	$margin-default*2; }
	.ml-b3-2x 	{ margin-left: 		$margin-default*2; }
	.mr-b3-2x 	{ margin-right: 	$margin-default*2; }

	.m-b3-3x 	{ margin: 			$margin-default*3; }
	.mb-b3-3x 	{ margin-bottom: 	$margin-default*3; }
	.ml-b3-3x 	{ margin-left: 		$margin-default*3; }
	.mr-b3-3x 	{ margin-right: 	$margin-default*3; }

	.m-b3-0 	{ margin: 			0; }
	.mt-b3-0 	{ margin-top: 		0; }
	.mb-b3-0 	{ margin-bottom: 	0; }
	.ml-b3-0 	{ margin-left: 		0; }
	.mr-b3-0 	{ margin-right: 	0; }
}

@media only screen and (min-width: $b4) {

	/*
		Padding
	*/
	.p-b4  	{ padding: 			$padding-default; }

	.pt-b4 	{ padding-top: 		$padding-default; }
	.pb-b4 	{ padding-bottom: 	$padding-default; }
	.pl-b4 	{ padding-left: 	$padding-default; }
	.pr-b4 	{ padding-right: 	$padding-default; }

	.p-b4-2x 	{ padding: 			$padding-default*2; }
	.pt-b4-2x 	{ padding-top: 		$padding-default*2; }
	.pb-b4-2x 	{ padding-bottom: 	$padding-default*2; }
	.pl-b4-2x 	{ padding-left: 	$padding-default*2; }
	.pr-b4-2x 	{ padding-right: 	$padding-default*2; }

	.p-b4-3x 	{ padding: 			$padding-default*3; }
	.pt-b4-3x 	{ padding-top: 		$padding-default*3; }
	.pb-b4-3x 	{ padding-bottom: 	$padding-default*3; }
	.pl-b4-3x 	{ padding-left: 	$padding-default*3; }
	.pr-b4-3x 	{ padding-right: 	$padding-default*3; }

	.p-b4-0 	{ padding: 			0; }
	.pt-b4-0 	{ padding-top: 		0; }
	.pb-b4-0 	{ padding-bottom: 	0; }
	.pl-b4-0 	{ padding-left: 	0; }
	.pr-b4-0 	{ padding-right: 	0; }

	/*
		Margin
	*/
	.m-b4  	{ margin: 			$margin-default; }

	.mt-b4 	{ margin-top: 		$margin-default; }
	.mb-b4 	{ margin-bottom: 	$margin-default; }
	.ml-b4 	{ margin-left: 		$margin-default; }
	.mr-b4 	{ margin-right: 	$margin-default; }

	.m-b4-2x 	{ margin: 			$margin-default*2; }
	.mt-b4-2x 	{ margin-top: 		$margin-default*2; }
	.mb-b4-2x 	{ margin-bottom: 	$margin-default*2; }
	.ml-b4-2x 	{ margin-left: 		$margin-default*2; }
	.mr-b4-2x 	{ margin-right: 	$margin-default*2; }

	.m-b4-3x 	{ margin: 			$margin-default*3; }
	.mt-b4-3x 	{ margin-top: 		$margin-default*3; }
	.mb-b4-3x 	{ margin-bottom: 	$margin-default*3; }
	.ml-b4-3x 	{ margin-left: 		$margin-default*3; }
	.mr-b4-3x 	{ margin-right: 	$margin-default*3; }

	.m-b4-0 	{ margin: 			0; }
	.mt-b4-0 	{ margin-top: 		0; }
	.mb-b4-0 	{ margin-bottom: 	0; }
	.ml-b4-0 	{ margin-left: 		0; }
	.mr-b4-0 	{ margin-right: 	0; }

}

@media only screen and (min-width: $b5) {

	/*
		Padding
	*/
	.p-b5  	{ padding: 			$padding-default; }
	.pt-b5 	{ padding-top: 		$padding-default; }
	.pb-b5 	{ padding-bottom: 	$padding-default; }
	.pl-b5 	{ padding-left: 	$padding-default; }
	.pr-b5 	{ padding-right: 	$padding-default; }

	.p-b5-2x 	{ padding: 			$padding-default*2; }
	.pt-b5-2x 	{ padding-top: 		$padding-default*2; }
	.pb-b5-2x 	{ padding-bottom: 	$padding-default*2; }
	.pl-b5-2x 	{ padding-left: 	$padding-default*2; }
	.pr-b5-2x 	{ padding-right: 	$padding-default*2; }

	.p-b5-3x 	{ padding: 			$padding-default*3; }
	.pt-b5-3x 	{ padding-top: 		$padding-default*3; }
	.pb-b5-3x 	{ padding-bottom: 	$padding-default*3; }
	.pl-b5-3x 	{ padding-left: 	$padding-default*3; }
	.pr-b5-3x 	{ padding-right: 	$padding-default*3; }

	.p-b5-0 	{ padding: 			0; }
	.pt-b5-0 	{ padding-top: 		0; }
	.pb-b5-0 	{ padding-bottom: 	0; }
	.pl-b5-0 	{ padding-left: 	0; }
	.pr-b5-0 	{ padding-right: 	0; }

	/*
		Margin
	*/
	.m-b5  	{ margin: 			$margin-default; }

	.mt-b5 	{ margin-top: 		$margin-default; }
	.mb-b5 	{ margin-bottom: 	$margin-default; }
	.ml-b5 	{ margin-left: 		$margin-default; }
	.mr-b5 	{ margin-right: 	$margin-default; }

	.m-b5-2x 	{ margin: 			$margin-default*2; }
	.mt-b5-2x 	{ margin-top: 		$margin-default*2; }
	.mb-b5-2x 	{ margin-bottom: 	$margin-default*2; }
	.ml-b5-2x 	{ margin-left: 		$margin-default*2; }
	.mr-b5-2x 	{ margin-right: 	$margin-default*2; }

	.m-b5-3x 	{ margin: 			$margin-default*3; }
	.mt-b5-3x 	{ margin-top: 		$margin-default*3; }
	.mb-b5-3x 	{ margin-bottom: 	$margin-default*3; }
	.ml-b5-3x 	{ margin-left: 		$margin-default*3; }
	.mr-b5-3x 	{ margin-right: 	$margin-default*3; }

	.m-b5-0 	{ margin: 			0; }
	.mt-b5-0 	{ margin-top: 		0; }
	.mb-b5-0 	{ margin-bottom: 	0; }
	.ml-b5-0 	{ margin-left: 		0; }
	.mr-b5-0 	{ margin-right: 	0; }
}

@media only screen and (min-width: $b6) {

	/*
		Padding
	*/
	.p-b6  	{ padding: 			$padding-default; }
	.pt-b6 	{ padding-top: 		$padding-default; }
	.pb-b6 	{ padding-bottom: 	$padding-default; }
	.pl-b6 	{ padding-left: 	$padding-default; }
	.pr-b6 	{ padding-right: 	$padding-default; }

	.p-b6-2x 	{ padding: 			$padding-default*2; }
	.pt-b6-2x 	{ padding-top: 		$padding-default*2; }
	.pb-b6-2x 	{ padding-bottom: 	$padding-default*2; }
	.pl-b6-2x 	{ padding-left: 	$padding-default*2; }
	.pr-b6-2x 	{ padding-right: 	$padding-default*2; }

	.p-b6-3x 	{ padding: 			$padding-default*3; }
	.pt-b6-3x 	{ padding-top: 		$padding-default*3; }
	.pb-b6-3x 	{ padding-bottom: 	$padding-default*3; }
	.pl-b6-3x 	{ padding-left: 	$padding-default*3; }
	.pr-b6-3x 	{ padding-right: 	$padding-default*3; }

	.p-b6-0 	{ padding: 			0; }
	.pt-b6-0 	{ padding-top: 		0; }
	.pb-b6-0 	{ padding-bottom: 	0; }
	.pl-b6-0 	{ padding-left: 	0; }
	.pr-b6-0 	{ padding-right: 	0; }

}